.company {
    background: linear-gradient(252.12deg, #D5D6DA 100%, #F2F2F2 0%);
    height: 504px;
    &__wrapper {
        display: grid;
        grid-template-columns: 500px 1fr;
        grid-column-gap: 10px;
    }
    &__img {
        position: relative;
        width: 100%;
        
        img {
            position: absolute;
            top: -65px;
            left: -91px;
            z-index: 2;
        }
    }
    &__text {
        padding-top: 77px;

        h1 {
            margin-top: 0;
            margin-bottom: 44px;
            font-family: $montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            color: $color-black;
        }
        
        p {
            margin-bottom: 58px;
            display: -webkit-box;
            font-family: $helvetica-light;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 27px;
            color: $color-darkgrey;
            -webkit-line-clamp: 5; /* количество строк */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    &__btn {
            
    }
}