section.company
    .container
        .company__wrapper
            .company__img
                img(src="images/content/about.png", alt="")
            .company__text
                h1
                    | О компании
                p
                    | Результатом широкомасштабных реформ в области кинематографии, проводившихся по инициативе и под руководством Президента Республики Узбекистан Ислама Каримова явилось то, что ряд национальных фильмов с успехом демонстрировались на
                .company__btn
                    a(href="#").btn.btn-grey.animation__line
                        | подробнее об агентстве
                        span
                        span
                        span
                        span
                        span
                        span