section.filmmakers
    .container
        .filmmakers__wrapper
            .filmmakers__title.title
                h2
                    | Кинодеятели
                a(href="#" title="Все кинодеятели")
                    | Все кинодеятели
            .filmmakers__items
                .filmmakers__item(style="background-image: url('../images/content/item-1.jpg');")
                    .filmmakers__info
                        h2
                            | Аббасов Шухрат Солихович
                        p
                            | Режиссер
                        span
                            | Родился 30.01.1931
                        a(href="#").btn.animation__line
                            | Узнать больше
                            span
                            span
                            span
                            span
                            span
                            span
                .filmmakers__item(style="background-image: url('../images/content/item-2.jpg');")
                    .filmmakers__info
                        h2
                            | Мелс Абзалов
                        p
                            | Режиссер
                        span
                            | Родился 30.01.1931
                        a(href="#").btn.animation__line
                            | Узнать больше
                            span
                            span
                            span
                            span
                            span
                            span
                .filmmakers__item(style="background-image: url('../images/content/item-3.jpg');")
                    .filmmakers__info
                        h2
                            | Шукур Бурханов
                        p
                            | Артист
                        span
                            | 1910 - 1987
                        a(href="#").btn.animation__line
                            | Узнать больше
                            span
                            span
                            span
                            span
                            span
                            span
                .filmmakers__item(style="background-image: url('../images/content/item-4.jpg');")
                    .filmmakers__info
                        h2
                            | Пулат Саидкасимов
                        p
                            | Артист
                        span
                            | 1931 - 2019
                        a(href="#").btn.animation__line
                            | Узнать больше
                            span
                            span
                            span
                            span
                            span
                            span