footer.footer
    .footer__top
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11987.375796163047!2d69.2494547!3d41.3122583!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6033462c8dcec32!2z0KPQt9Cx0LXQutC60LjQvdC-INCd0LDRhtC40L7QvdCw0LvRjNC90L7QtSDQkNCz0LXQvdGC0YHRgtCy0L4!5e0!3m2!1sru!2s!4v1584214770469!5m2!1sru!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        .container
            .footer__top-wrapper
                .footer__block
                    h2
                        | Контакты
                    p
                        | Республика Узбекистан, 100115, г. Ташкент, ул. Чиланзар, 1А
                    dl
                        dt
                            span Приемная: 
                        dd
                            span (+998 71) 277 81 44
                    dl
                        dt
                            span Телефон доверия:
                        dd
                            span (+998 71) 277 81 44
                    dl
                        dt
                            span Канцелярия:
                        dd
                            span (+998 71) 277 81 02
                    dl
                        dt
                            span Факс:
                        dd
                            span (+998 71) 277-81-44 
                            span (+998 71) 277-81-71
    .footer__bottom
        .container
            .footer__bottom-wrapper
                .footer__bottom-left
                    a(href="/" title="На главную")
                        img(src="logo.svg", alt="Logo")
                    p
                        | &copy; 2011 – 2019 | Все права принадлежат НА «Узбеккино». При перепечатке ссылка на вебсайт агентства обязательна.
                .footer__bottom-right
                    a(href="#" title="Карта сайта")
                        | Карта сайта
                    .footer__form
                        h2
                            | Подписаться
                        form(action="/" method="POST" name="")
                            .input-form
                                input(type="email" name="mail" placeholder="Ваш e-mail" required)
                            button(type="submot").btn.animation__line
                                span
                                span
                                span
                                span
                                span
                                span
                                +svg('mail')