.menu#menu
    .menu__bgLine.container
    .container
        .menu__wrapper
            ul.menu__lists
                li.menu__list.menu__hasSublist
                    a(href="#").menu__link
                        | Об агентстве
                li.menu__list.menu__hasSublist
                    a(href="#").menu__link
                        | Деятельность агентства
                    ul.menu__submenu
                        li
                            a(href="#" title="Художественный совет при НА «Узбеккино»")
                                | Художественный совет при НА «Узбеккино»
                        li
                            a(href="#" title="Взаимодействие с другими госорганами")
                                | Взаимодействие с другими госорганами
                        li
                            a(href="#" title="Международные отношения")
                                | Международные отношения
                        li.menu__hasSublist
                            a(href="#" title="Сведения об основных показателях")
                                | Сведения об основных показателях
                            ul.menu__submenu.menu__secondMenu
                                li
                                    a(href="#" title="Общие сведения")
                                        | Общие сведения
                                li
                                    a(href="#" title="Организаторы открытых тендеров")
                                        | Организаторы открытых тендеров
                                li
                                    a(href="#" title="Порядок и условия проведения тендера")
                                        | Порядок и условия проведения тендера
                                li
                                    a(href="#" title="Законодательства по тендеру")
                                        | Законодательства по тендеру
                                li
                                    a(href="#" title="Действующие тендеры")
                                        | Действующие тендеры
                                li
                                    a(href="#" title="Прошедшие тендеры")
                                        | Прошедшие тендеры
                                li
                                    a(href="#" title="Все тендеры")
                                        | Все тендеры
                                li
                                    a(href="#" title="Формы документов")
                                        | Формы документов
                        li
                            a(href="#" title="Участие в электронном правительстве")
                                | Участие в электронном правительстве
                        li
                            a(href="#" title="Объявления")
                                | Объявления
                        li.menu__hasSublist
                            a(href="#" title="Тендеры")
                                | Тендеры
                            ul.menu__submenu.menu__secondMenu
                                li
                                    a(href="#" title="Общие сведения")
                                        | Общие сведения
                                li
                                    a(href="#" title="Организаторы открытых тендеров")
                                        | Организаторы открытых тендеров
                                li
                                    a(href="#" title="Порядок и условия проведения тендера")
                                        | Порядок и условия проведения тендера
                                li
                                    a(href="#" title="Законодательства по тендеру")
                                        | Законодательства по тендеру
                                li
                                    a(href="#" title="Действующие тендеры")
                                        | Действующие тендеры
                                li
                                    a(href="#" title="Прошедшие тендеры")
                                        | Прошедшие тендеры
                                li
                                    a(href="#" title="Все тендеры")
                                        | Все тендеры
                                li
                                    a(href="#" title="Формы документов")
                                        | Формы документов
                        li
                            a(href="#" title="Конкурсы")
                                | Конкурсы
                        li
                            a(href="#" title="Вакансии")
                                | Вакансии
                li.menu__list.menu__hasSublist
                    a(href="#").menu__link
                        | Нормативно-правовая база
                li.menu__list
                    a(href="#").menu__link
                        | Интерактивные услуги
                li.menu__list
                    a(href="#").menu__link
                        | Пресс – центр
                li.menu__list
                    a(href="#").menu__link
                        | Контакты
