section.relations
    .container
        .relations__wrapper
            .relations__block
                .relations__img
                    img(src="images/content/flags.png", alt="")
            .relations__block
                h1 Международные отношения
                p
                    | Информация отдела Лицензирования, экспертных оценок и развития Международный связей за 2014 года
                p 
                    b По направлению развития Международный связей и фестивалей
                p   
                    | С 27 по 30 марта в Ташкенте в Доме кинематографистов Посольство Японии совместно с НА «Узбеккино» провели «Дни Японского кино в Узбекистане».
                .relations__btn
                    a(href="#").btn.animation__line
                        | Узнать больше
                        span
                        span
                        span
                        span
                        span
                        span