section.slider.owl-carousel
    - for(var i = 0; i < 2; i++) {
        .slider__item
            .slider__img(data-src="../images/content/slide.jpg" class="owl-lazy" )
            .slider__info
                .slider__top
                    .slider__top-left
                        span
                            | Режиссер
                        span
                            | Хилол Насимов
                    .slider__top-right
                        span
                            | Дата выхода
                        span
                            | 25.02.2019
                .slider__bottom
                    .slider__bottom-left
                        | Здесь будет название фильма
                    .slider__bottom-right
                        | Результатом широкомасштабных реформ в области кинематографии, проводившихся по инициативе и под руководством Президента Республики Узбекистан Ислама Каримова явилось то
    - }