// stylelint-disable scss/dollar-variable-empty-line-before
// COLORS
$color-body: #1E1E1E;
$color-gblack: linear-gradient(135deg, #252525 14.81%, #242222 87.04%, #000000 87.04%);
$color-black: #252525;
$color-darkgrey: #3F3E3E;
$color-lightgrey: #B3B3B3;
$color-white: #fff;
$color-darkwhite: #F0F0F0;
$color-blue: #2648C7;
$color-gradblue: linear-gradient(135deg, #46558F 15.74%, #272B3A 86.11%);
$color-darkblue: #1E2437;
$color-yellow: #FF7A00;


// FONTS
$montserrat: 'Montserrat', sans-serif;
$helvetica-bold: 'HelveticaNeueCyrBold', sans-serif;
$helvetica-roman: 'HelveticaNeueCyrRoman', sans-serif;
$helvetica-light: 'HelveticaNeueCyrLight', sans-serif;